// $spaceBg: 'assets/images/space_bg1.jpeg';

$sprite: 'assets/images/sprite.png';
$space_bg: 'assets/images/space-bg.jpg';
// $enemy: 'assets/images/enemy.png';

$planet1: 'assets/images/planet1.png';
$planet2: 'assets/images/planet2.png';

$planet3: 'assets/images/planet3.png';

$asteroid1: 'assets/images/asteroid1.png';
// $space_ship: 'assets/images/spaceship3.png';

$font_url: 'assets/fonts/Minecraft/Minecraft.ttf';

$fullscreen: 'assets/images/fullscreen-svg.svg';
$sounds_on: 'assets/images/sounds-on.svg';
$sounds_off: 'assets/images/sounds-off.svg';


// html,2121
// body {
//   // for canvas
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
  
//   color: #fff;
//   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// #root {
//   width: 100%;
//   height: 100%;
// }

// .container.space{
//   width: 100%;
//   height: 100%;
//   background-image: url($spaceBg);
// }

@font-face {
  font-family: "Minecraft";
  src: url($font_url) format("truetype");
}

* {
	margin:0;
	padding: 0;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	overflow: hidden;
}

// фон
.sky {
	position: absolute;
	top: -630px; left: 0; bottom: 0; right: 0;
	width: 100%;
	opacity: 1;
	background: url($space_bg) repeat;
	-webkit-animation: backdrop_roll linear 100s infinite;
	-moz-animation: backdrop_roll linear 100s infinite;
	-ms-animation: backdrop_roll linear 100s infinite;
	-o-animation: backdrop_roll linear 100s infinite;
	animation: backdrop_roll linear 100s infinite;
}

@-webkit-keyframes backdrop_roll { from { top: -630px; } to { top: 0; } }
@-moz-keyframes backdrop_roll { from { top: -630px; } to { top: 0; } }
@-ms-keyframes backdrop_roll { from { top: -630px; } to { top: 0; } }
@-o-keyframes backdrop_roll { from { top: -630px; } to { top: 0; } }
@keyframes backdrop_roll { from { top: -630px; } to { top: 0; } }

// очки игрока
#score {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
	font-family: "Minecraft";
	font-size: 40px;
}

// жизни
#lifes {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 20px;
}

#life{
	width: 52px;
  height: 44px;
  background: url($sprite) 114px -34px;
}

// здоровье
.life-bar-cont {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 20px;
	height: 220px;
	background: #222227;
}

.life-bar {
	position: absolute;
	width: 10px;
	height: 200px;
	top: 10px;
	right: 5px;
	background: #ccc;
	z-index: 9999px
}

.life-bar .inside-bar {	
	position: absolute;
	width: 100%;
	right: 0;
	bottom:0;
	background: #27ff00;
}
// /здоровье

// карабль
#ship {
	position: absolute;
	width: 120px;
	height: 128px;
	top: 70%;
	left: 50%;
	margin-left: -50px;
	background: url($sprite) 180px 157px;
	// background-size: contain;
	z-index: 1000;
}

.explode {
	position: absolute;
	top:  50%;
	left: 50%;
	width: 120px;
	height: 180px;
	z-index: 2000;
}

.palyerExplode {
	position: absolute;
	width: 70px;
	height: 100px;
	top:  50%;
	left: 50%;
	z-index: 2000;
}

.palyerExplode img, .explode img {
	width: 100%;
	height: auto;
}

.bullet {
	position: absolute;
	width: 8px;
	height: 8px;
	
	border-radius: 5px;
	
	margin-left: -5px;
	// background: red;
	background: url($sprite) 113px 214px;
	z-index: 1000;
}

.enemy-bullet {
	position: absolute;
	width: 5px;
	height: 5px;	
	border-radius: 3px;
	background: green;
	z-index: 900;
}

// враг
.enemy {
	position: absolute;
	width: 58px;
	height: 61px;
	top: -50px;
	left: 50%;
	// background: url($sprite) -64px 512px;
	z-index: 950;
}

// тип врагов
.enemy-type-1 {
	background: url($sprite) -64px 512px;
}

.enemy-type-2 {
	background: url($sprite) -64px 413px;
}

.enemy-type-3 {
	background: url($sprite) -64px 319px;
}

.enemy-type-4 {
	background: url($sprite) -64px 225px;
}

// анимация взрыва
.explosion {
	position: absolute;
	width: 58px;
	height: 61px;
	z-index: 951;
}

.explosion-part-1 {
	width: 54px;
	height: 48px;
	background: url($sprite) 363px 428px;
}
.explosion-part-2 {
	width: 67px;
	height: 71px;
	background: url($sprite) 367px 361px;
}
.explosion-part-3 {
	width: 103px;
	height: 102px;
	background: url($sprite) 388px 264px;
}

.small-star {
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 1px;	
	left: 0; top: -50px;
	background: #fff;
	z-index: 1;
}

.planet {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;	
	left: 0; top: -50px;
	background: linear-gradient(to right, #2d2d2d 20%,#ccc 100%);
	z-index: 10;
}

.moon {
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 250px;	
	left: 0; top: -500px;
	z-index: 100;
	background: url($planet1) no-repeat center; 
}

.huge-planet {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 75px;	
	left: 0; top: -200px;
	background: url($planet2) no-repeat;
	z-index: 50;
}

.exp-planet {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 75px;	
	left: 0; top: -200px;
	background: url($planet3) no-repeat;
	z-index: 50;
}


.asteroid {
	position: absolute;
	width: 100px;
	height: 65px;
	left: 0; top: -65px;
	z-index: 100;
	background: url($asteroid1) no-repeat center; 
}

// menu
#menu {
	position: absolute;
	color: #fff;
	font-family: "Minecraft";
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

.menu__heading{
	margin-top: 120px;
	margin-bottom: 60px;
}
.menu__title{
	text-align: center;
}

.menu__wrap {
	width: 100%;
}
.menu__btn{
	padding: 50px;
	margin-bottom: 20px;
}

// fullscreen
.fullscreen {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: url($fullscreen);
	background-size: contain;
}

// sounds
.sounds{
	position: absolute;
	bottom: 0px;
	left: 50px;
	width: 50px;
	height: 50px;
}

.sounds-on {
	background: url($sounds_on);
	background-size: contain;
}

.sounds-off {
	background: url($sounds_off);
	background-size: contain;
}

// footer
.footer {
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer .footer__link {
	height: 100%;
}

.footer .footer__link.github-link {
	height: auto;
	color: #000;
	font-family: 'Minecraft';
	text-decoration: none;
	padding: 15px;
}

.footer .footer__logo{
	height: 100%;
	border-left: 1px solid #000
}

// choose lvl
.difficulty-lvl__heading{
	margin-top: 10px;
}
.difficulty-lvl__item{
	margin-top: 10px;
}